In [1]:
import numpy as np
import pandas as pd

In [2]:
titanicdata = pd.read_csv('train.csv')
testdata = pd.read_csv('test.csv')

In [3]:
titanicdata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanicdata.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
titanicdata.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
titanicdata.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
(titanicdata.isnull().sum()/len(titanicdata))*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [8]:
missvalues = titanicdata.isnull().sum()*100/titanicdata.isnull().count()
mv1 = titanicdata.isnull().sum()*100/len(titanicdata)

In [9]:
round(missvalues, 2)

PassengerId     0.00
Survived        0.00
Pclass          0.00
Name            0.00
Sex             0.00
Age            19.87
SibSp           0.00
Parch           0.00
Ticket          0.00
Fare            0.00
Cabin          77.10
Embarked        0.22
dtype: float64

In [10]:
round(mv1, 2)

PassengerId     0.00
Survived        0.00
Pclass          0.00
Name            0.00
Sex             0.00
Age            19.87
SibSp           0.00
Parch           0.00
Ticket          0.00
Fare            0.00
Cabin          77.10
Embarked        0.22
dtype: float64

In [11]:
meanage = titanicdata['Age'].mean()

In [12]:
titanicdata.Age.fillna(meanage, inplace = True)

In [13]:
titanicdata['Age'].isnull().sum()

0

In [14]:
titanicdata.isnull().sum()*100/len(titanicdata)

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [15]:
titanicdata['Embarked'].fillna('S',inplace = True)
#titanicdata.columns = titanicdata.columns.str.replace(' ', '')
#to help know labels after encoding and change test data same
#titanicdata.groupby(['Embarked']).sum()
#titanicdata.groupby(['Sex']).sum()

In [16]:
titanicdata.isnull().sum()*100/len(titanicdata)

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.000000
dtype: float64

In [17]:
#Dropping string features I won't need for now since LogisticRegression can only handle numerical values
newtitanic = pd.get_dummies(titanicdata, columns=["Pclass","Embarked","Sex"])
newtitanic.drop('Cabin', axis=1, inplace=True)
newtitanic.drop('Name', axis=1, inplace=True)
newtitanic.drop('Ticket', axis=1, inplace=True)
newtitanic.drop('Fare', axis=1, inplace=True)

In [18]:
#newtitanic.isnull().sum()*100/len(newtitanic)

In [19]:
#newtitanic.Embarked.unique()
newtitanic.dropna(inplace=True)
newtitanic.isnull().sum()*100/len(newtitanic)
newtitanic.dtypes

PassengerId      int64
Survived         int64
Age            float64
SibSp            int64
Parch            int64
Pclass_1         uint8
Pclass_2         uint8
Pclass_3         uint8
Embarked_C       uint8
Embarked_Q       uint8
Embarked_S       uint8
Sex_female       uint8
Sex_male         uint8
dtype: object

In [20]:
#Using label encoder to turn categories to numerical form
#from sklearn.preprocessing import LabelEncoder
#lb = LabelEncoder()
#newtitanic['Embarked'] = lb.fit_transform(newtitanic['Embarked'])
#newtitanic['Sex'] = lb.fit_transform(newtitanic['Sex'])
#titanicdata.groupby(['Embarked']).sum()

#Using One Hot Encoding rather
#data_set = data[['Sex','Embarked']]
#one_hot_encoded_training_predictors = pd.get_dummies(data_set)
#one_hot_encoded_training_predictors.head()
#X = one_hot_encoded_training_predictors
#y = data['Survived']

In [21]:
#for the train part of the data, remove the survived(target feature) and make it the Y_train
X_train = newtitanic.drop("Survived", axis=1)
Y_train = newtitanic["Survived"]
testdata.isnull().sum()*100/len(testdata)

PassengerId     0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            20.574163
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.239234
Cabin          78.229665
Embarked        0.000000
dtype: float64

In [22]:
#test dataframe has the passenger Id, Name, Cabin and Ticket dropped and copied into the new X_test for my model
testdata.Age.fillna(meanage, inplace = True)
newtest = pd.get_dummies(testdata, columns=["Pclass","Embarked","Sex"])
newtest.drop('Cabin', axis=1, inplace=True)
newtest.drop('Name', axis=1, inplace=True)
newtest.drop('Ticket', axis=1, inplace=True)
newtest.drop('Fare', axis=1, inplace=True)
newtest.isnull().sum()*100/len(newtest)

PassengerId    0.0
Age            0.0
SibSp          0.0
Parch          0.0
Pclass_1       0.0
Pclass_2       0.0
Pclass_3       0.0
Embarked_C     0.0
Embarked_Q     0.0
Embarked_S     0.0
Sex_female     0.0
Sex_male       0.0
dtype: float64

In [23]:
X_test = newtest
#X_test  = newtest.drop("PassengerId", axis=1).copy()

In [24]:
#these are then fed into a model.ie. Logistic Regression
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

Y_pred = logreg.predict(X_test)

acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
print (acc_log)

80.36

In [26]:
#One can check the cross validation score for the model chosen. I will do that later
#Further evaluation can be done with CONFUSION MATRIX

#Submission
submission = pd.DataFrame({
        "PassengerId": testdata["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('submission.csv', index=False)