In [1]:
import pandas as pd
import numpy as np

#this method first does EDA to determine relationships, which ones should be dropped and which ones shouldn't
#after, it drops the label column and appends test
#note that the dropped label is automatically Y_predict
#perform data wrangling options established from EDA
#split data back to new train(X_train), and new test which we make predictions on for our Y_predct

In [2]:
traindata = pd.read_csv('train.csv')
testdata = pd.read_csv('test.csv')

In [3]:
traindata.shape #to know the final id for the train data

(891, 12)

In [4]:
testdata.shape #to know the final id for the test data

(418, 11)

In [5]:
traindata.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
testdata.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
transtrain = traindata.drop("Survived", axis=1) #to drop label to be predicted so shape is same as test
Y_train = traindata["Survived"] #to keep dropped label to be added to transformed trained data later
#Drop header in testdata
#testheader = testdata.loc[0]
#finaltest = testdata[1:]

In [8]:
#testdata.iloc[0]

In [9]:
#testheader

In [10]:
#finaltest

In [11]:
finaldata = transtrain.append(testdata) #combining test data and train data

In [12]:
finaldata.shape

(1309, 11)

In [13]:
#performing transformations to the combined data set
meanage = round(finaldata['Age'].mean(),1)
finaldata.Age.fillna(meanage, inplace = True)
finaldata = pd.get_dummies(finaldata, columns=["Pclass","Embarked","Sex"])
finaldata.drop(['Cabin', 'Name', 'Ticket','Fare' ], axis=1, inplace=True)

In [14]:
finaldata

,PassengerId,Age,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,1,22.0,1,0,0,0,1,0,0,1,0,1
1,2,38.0,1,0,1,0,0,1,0,0,1,0
2,3,26.0,0,0,0,0,1,0,0,1,1,0
3,4,35.0,1,0,1,0,0,0,0,1,1,0
4,5,35.0,0,0,0,0,1,0,0,1,0,1
5,6,29.9,0,0,0,0,1,0,1,0,0,1
6,7,54.0,0,0,1,0,0,0,0,1,0,1
7,8,2.0,3,1,0,0,1,0,0,1,0,1
8,9,27.0,0,2,0,0,1,0,0,1,1,0
9,10,14.0,1,0,0,1,0,1,0,0,1,0
10,11,4.0,1,1,0,0,1,0,0,1,1,0
11,12,58.0,0,0,1,0,0,0,0,1,1,0
12,13,20.0,0,0,0,0,1,0,0,1,0,1
13,14,39.0,1,5,0,0,1,0,0,1,0,1
14,15,14.0,0,0,0,0,1,0,0,1,1,0
15,16,55.0,0,0,0,1,0,0,0,1,1,0
16,17,2.0,4,1,0,0,1,0,1,0,0,1
17,18,29.9,0,0,0,1,0,0,0,1,0,1
18,19,31.0,1,0,0,0,1,0,0,1,1,0
19,20,29.9,0,0,0,0,1,1,0,0,1,0
20,21,35.0,0,0,0,1,0,0,0,1,0,1
21,22,34.0,0,0,0,1,0,0,0,1,0,1
22,23,15.0,0,0,0,0,1,0,1,0,1,0
23,24,28.0,0,0,1,0,0,0,0,1,0,1
24,25,8.0,3,1,0,0,1,0,0,1,1,0
25,26,38.0,1,5,0,0,1,0,0,1,1,0
26,27,29.9,0,0,0,0,1,1,0,0,0,1
27,28,19.0,3,2,1,0,0,0,0,1,0,1
28,29,29.9,0,0,0,0,1,0,1,0,1,0
29,30,29.9,0,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,21.0,0,0,0,0,1,0,1,0,0,1
389,1281,6.0,3,1,0,0,1,0,0,1,0,1
390,1282,23.0,0,0,1,0,0,0,0,1,0,1
391,1283,51.0,0,1,1,0,0,0,0,1,1,0
392,1284,13.0,0,2,0,0,1,0,0,1,0,1
393,1285,47.0,0,0,0,1,0,0,0,1,0,1
394,1286,29.0,3,1,0,0,1,0,0,1,0,1
395,1287,18.0,1,0,1,0,0,0,0,1,1,0
396,1288,24.0,0,0,0,0,1,0,1,0,0,1
397,1289,48.0,1,1,1,0,0,1,0,0,1,0
398,1290,22.0,0,0,0,0,1,0,0,1,0,1
399,1291,31.0,0,0,0,0,1,0,1,0,0,1
400,1292,30.0,0,0,1,0,0,0,0,1,1,0
401,1293,38.0,1,0,0,1,0,0,0,1,0,1
402,1294,22.0,0,1,1,0,0,1,0,0,1,0
403,1295,17.0,0,0,1,0,0,0,0,1,0,1
404,1296,43.0,1,0,1,0,0,1,0,0,0,1
405,1297,20.0,0,0,0,1,0,1,0,0,0,1
406,1298,23.0,1,0,0,1,0,0,0,1,0,1
407,1299,50.0,1,1,1,0,0,1,0,0,0,1
408,1300,29.9,0,0,0,0,1,0,1,0,1,0
409,1301,3.0,1,1,0,0,1,0,0,1,1,0
410,1302,29.9,0,0,0,0,1,0,1,0,1,0
411,1303,37.0,1,0,1,0,0,0,1,0,1,0
412,1304,28.0,0,0,0,0,1,0,0,1,1,0
413,1305,29.9,0,0,0,0,1,0,0,1,0,1
414,1306,39.0,0,0,1,0,0,1,0,0,1,0
415,1307,38.5,0,0,0,0,1,0,0,1,0,1
416,1308,29.9,0,0,0,0,1,0,0,1,0,1
417,1309,29.9,1,1,0,0,1,1,0,0,0,1

In [15]:
#to check effect of transformations
finaldata.isnull().sum()*100/len(finaldata)

PassengerId    0.0
Age            0.0
SibSp          0.0
Parch          0.0
Pclass_1       0.0
Pclass_2       0.0
Pclass_3       0.0
Embarked_C     0.0
Embarked_Q     0.0
Embarked_S     0.0
Sex_female     0.0
Sex_male       0.0
dtype: float64

In [16]:
#find out where test data begins from
finaldata.iloc[891]

PassengerId    892.0
Age             34.5
SibSp            0.0
Parch            0.0
Pclass_1         0.0
Pclass_2         0.0
Pclass_3         1.0
Embarked_C       0.0
Embarked_Q       1.0
Embarked_S       0.0
Sex_female       0.0
Sex_male         1.0
Name: 0, dtype: float64

In [17]:
#split data back into test and train
X_train = finaldata.iloc[:891,:]
finaltest = finaldata.iloc[891:,:]

#Remember to add initially dropped survive column back to train data

In [18]:
#adding survived back to train data
finaltrain = X_train.join(Y_train)

In [19]:
finaltrain

,PassengerId,Age,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male,Survived
0,1,22.0,1,0,0,0,1,0,0,1,0,1,0
1,2,38.0,1,0,1,0,0,1,0,0,1,0,1
2,3,26.0,0,0,0,0,1,0,0,1,1,0,1
3,4,35.0,1,0,1,0,0,0,0,1,1,0,1
4,5,35.0,0,0,0,0,1,0,0,1,0,1,0
5,6,29.9,0,0,0,0,1,0,1,0,0,1,0
6,7,54.0,0,0,1,0,0,0,0,1,0,1,0
7,8,2.0,3,1,0,0,1,0,0,1,0,1,0
8,9,27.0,0,2,0,0,1,0,0,1,1,0,1
9,10,14.0,1,0,0,1,0,1,0,0,1,0,1
10,11,4.0,1,1,0,0,1,0,0,1,1,0,1
11,12,58.0,0,0,1,0,0,0,0,1,1,0,1
12,13,20.0,0,0,0,0,1,0,0,1,0,1,0
13,14,39.0,1,5,0,0,1,0,0,1,0,1,0
14,15,14.0,0,0,0,0,1,0,0,1,1,0,0
15,16,55.0,0,0,0,1,0,0,0,1,1,0,1
16,17,2.0,4,1,0,0,1,0,1,0,0,1,0
17,18,29.9,0,0,0,1,0,0,0,1,0,1,1
18,19,31.0,1,0,0,0,1,0,0,1,1,0,0
19,20,29.9,0,0,0,0,1,1,0,0,1,0,1
20,21,35.0,0,0,0,1,0,0,0,1,0,1,0
21,22,34.0,0,0,0,1,0,0,0,1,0,1,1
22,23,15.0,0,0,0,0,1,0,1,0,1,0,1
23,24,28.0,0,0,1,0,0,0,0,1,0,1,1
24,25,8.0,3,1,0,0,1,0,0,1,1,0,0
25,26,38.0,1,5,0,0,1,0,0,1,1,0,1
26,27,29.9,0,0,0,0,1,1,0,0,0,1,0
27,28,19.0,3,2,1,0,0,0,0,1,0,1,0
28,29,29.9,0,0,0,0,1,0,1,0,1,0,1
29,30,29.9,0,0,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,21.0,1,0,0,1,0,0,0,1,0,1,0
862,863,48.0,0,0,1,0,0,0,0,1,1,0,1
863,864,29.9,8,2,0,0,1,0,0,1,1,0,0
864,865,24.0,0,0,0,1,0,0,0,1,0,1,0
865,866,42.0,0,0,0,1,0,0,0,1,1,0,1
866,867,27.0,1,0,0,1,0,1,0,0,1,0,1
867,868,31.0,0,0,1,0,0,0,0,1,0,1,0
868,869,29.9,0,0,0,0,1,0,0,1,0,1,0
869,870,4.0,1,1,0,0,1,0,0,1,0,1,1
870,871,26.0,0,0,0,0,1,0,0,1,0,1,0
871,872,47.0,1,1,1,0,0,0,0,1,1,0,1
872,873,33.0,0,0,1,0,0,0,0,1,0,1,0
873,874,47.0,0,0,0,0,1,0,0,1,0,1,0
874,875,28.0,1,0,0,1,0,1,0,0,1,0,1
875,876,15.0,0,0,0,0,1,1,0,0,1,0,1
876,877,20.0,0,0,0,0,1,0,0,1,0,1,0
877,878,19.0,0,0,0,0,1,0,0,1,0,1,0
878,879,29.9,0,0,0,0,1,0,0,1,0,1,0
879,880,56.0,0,1,1,0,0,1,0,0,1,0,1
880,881,25.0,0,1,0,1,0,0,0,1,1,0,1
881,882,33.0,0,0,0,0,1,0,0,1,0,1,0
882,883,22.0,0,0,0,0,1,0,0,1,1,0,0
883,884,28.0,0,0,0,1,0,0,0,1,0,1,0
884,885,25.0,0,0,0,0,1,0,0,1,0,1,0
885,886,39.0,0,5,0,0,1,0,1,0,1,0,0
886,887,27.0,0,0,0,1,0,0,0,1,0,1,0
887,888,19.0,0,0,1,0,0,0,0,1,1,0,1
888,889,29.9,1,2,0,0,1,0,0,1,1,0,0
889,890,26.0,0,0,1,0,0,1,0,0,0,1,1
890,891,32.0,0,0,0,0,1,0,1,0,0,1,0

In [20]:
finaltest

,PassengerId,Age,SibSp,Parch,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
0,892,34.5,0,0,0,0,1,0,1,0,0,1
1,893,47.0,1,0,0,0,1,0,0,1,1,0
2,894,62.0,0,0,0,1,0,0,1,0,0,1
3,895,27.0,0,0,0,0,1,0,0,1,0,1
4,896,22.0,1,1,0,0,1,0,0,1,1,0
5,897,14.0,0,0,0,0,1,0,0,1,0,1
6,898,30.0,0,0,0,0,1,0,1,0,1,0
7,899,26.0,1,1,0,1,0,0,0,1,0,1
8,900,18.0,0,0,0,0,1,1,0,0,1,0
9,901,21.0,2,0,0,0,1,0,0,1,0,1
10,902,29.9,0,0,0,0,1,0,0,1,0,1
11,903,46.0,0,0,1,0,0,0,0,1,0,1
12,904,23.0,1,0,1,0,0,0,0,1,1,0
13,905,63.0,1,0,0,1,0,0,0,1,0,1
14,906,47.0,1,0,1,0,0,0,0,1,1,0
15,907,24.0,1,0,0,1,0,1,0,0,1,0
16,908,35.0,0,0,0,1,0,0,1,0,0,1
17,909,21.0,0,0,0,0,1,1,0,0,0,1
18,910,27.0,1,0,0,0,1,0,0,1,1,0
19,911,45.0,0,0,0,0,1,1,0,0,1,0
20,912,55.0,1,0,1,0,0,1,0,0,0,1
21,913,9.0,0,1,0,0,1,0,0,1,0,1
22,914,29.9,0,0,1,0,0,0,0,1,1,0
23,915,21.0,0,1,1,0,0,1,0,0,0,1
24,916,48.0,1,3,1,0,0,1,0,0,1,0
25,917,50.0,1,0,0,0,1,0,0,1,0,1
26,918,22.0,0,1,1,0,0,1,0,0,1,0
27,919,22.5,0,0,0,0,1,1,0,0,0,1
28,920,41.0,0,0,1,0,0,0,0,1,0,1
29,921,29.9,2,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,21.0,0,0,0,0,1,0,1,0,0,1
389,1281,6.0,3,1,0,0,1,0,0,1,0,1
390,1282,23.0,0,0,1,0,0,0,0,1,0,1
391,1283,51.0,0,1,1,0,0,0,0,1,1,0
392,1284,13.0,0,2,0,0,1,0,0,1,0,1
393,1285,47.0,0,0,0,1,0,0,0,1,0,1
394,1286,29.0,3,1,0,0,1,0,0,1,0,1
395,1287,18.0,1,0,1,0,0,0,0,1,1,0
396,1288,24.0,0,0,0,0,1,0,1,0,0,1
397,1289,48.0,1,1,1,0,0,1,0,0,1,0
398,1290,22.0,0,0,0,0,1,0,0,1,0,1
399,1291,31.0,0,0,0,0,1,0,1,0,0,1
400,1292,30.0,0,0,1,0,0,0,0,1,1,0
401,1293,38.0,1,0,0,1,0,0,0,1,0,1
402,1294,22.0,0,1,1,0,0,1,0,0,1,0
403,1295,17.0,0,0,1,0,0,0,0,1,0,1
404,1296,43.0,1,0,1,0,0,1,0,0,0,1
405,1297,20.0,0,0,0,1,0,1,0,0,0,1
406,1298,23.0,1,0,0,1,0,0,0,1,0,1
407,1299,50.0,1,1,1,0,0,1,0,0,0,1
408,1300,29.9,0,0,0,0,1,0,1,0,1,0
409,1301,3.0,1,1,0,0,1,0,0,1,1,0
410,1302,29.9,0,0,0,0,1,0,1,0,1,0
411,1303,37.0,1,0,1,0,0,0,1,0,1,0
412,1304,28.0,0,0,0,0,1,0,0,1,1,0
413,1305,29.9,0,0,0,0,1,0,0,1,0,1
414,1306,39.0,0,0,1,0,0,1,0,0,1,0
415,1307,38.5,0,0,0,0,1,0,0,1,0,1
416,1308,29.9,0,0,0,0,1,0,0,1,0,1
417,1309,29.9,1,1,0,0,1,1,0,0,0,1

In [21]:
#save the new data sets which you'll use instead of the initial ones
#finaltrain.to_csv('finaltrain.csv', index=False)
#finaltest.to_csv('finaltest.csv', index=False)

#adding the ML model

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, Y_train)

Y_pred = logreg.predict(finaltest)

acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
print (acc_log)

80.36